/* Grunsätzliche Einstellungen */
html {
	overflow: scroll;
}

body {
	background-image: url(../images/gwbackground.jpg);
	background-color: grey;
	background-repeat: repeat;
	background-attachment: fixed;
	font-family: Segoe UI;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}

#index {
	background-image: none;
	background-color: grey;
}

* {
	padding: 0px;
	margin: 0px;
}

p {
	padding-bottom: 5px;
	font-size: 15px;
}

h1 {
	font-size: 25px;
	padding-top: 5px;
	padding-bottom: 15px;
}

h2 {
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 18px;
	margin: none;
	color: #000095;
}

h3, h4, h5, h6 {
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: 600;
	color: #000095;
}

/* Standard-Links */
a {
	color: #000095;
	text-decoration: none;
}

a:hover, 
a:focus,
a:active,
a:visited:hover {
	color: black;
	text-decoration: underline;
}

/* Link mit Bild*/
.extern {
	background-image: url("../images/externerLink.png");
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 20px !important;
		
}
/* Standardlinks Ende */

/* Standard Listen */

li {
	margin-left: 28px;
}

/* Zitate */
blockquote {
	margin: 0px 0px 10px 30px;
	background-color: transparent;
	border-left: 5px solid #ff9f9f;
	padding: 5px 10px 10px 20px;
	font-style: italic;
	color: #a40000;
}

.marker {
	background-color: yellow;
}

.classicUl {
	border: 1px solid transparent;
	margin: 0px;
}

.classicUl li {
	border: 1px solid transparent;
	padding: 5px 5px 5px 5px;
	margin-bottom: 2px;
	list-style-type: none;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.classicUl li:hover {
	background-color: #484848;
}

/* Header Einstellungen */

.header {
	padding: 10px;
	border-bottom: 5px solid white;
	background-color: #373737; /* #373737 */
	color: black;
}

/*
 * Suchleiste
 */
.userInfo #suche {
	margin-top: 5px;
}

.userInfo a {
	color: white;
}

.userInfo input[type=text] {
	background-color: transparent;
	color: white;
}

.userInfo #suche #sucheSubmit {
	border: 1px solid grey;
	padding: 1px;
}

.invSuchErgeb {
	border: 1px solid #aa0004;
	padding: 3px;
	display: inline-block;
	margin-right: 3px;
	margin-bottom: 3px;
}
 
 /* Button auf der index.php */
 .impressumButton {
 	color: grey !important;
 	display: inline-block;
 	padding: 10px;
 	position: relative;
 	bottom: -230px;
 	left: 135px;
 }
 
 /*
 * Willkommen USER | Abmelden + Impressum usw.
 */
.userInfo {
	text-align: right;
	max-width: 260px;
	float: right;
	margin-top: -17px;
	max-height: 100px;
	overflow: hidden;
	padding: 10px;
	color: white;
}

.userInfo ul {
	font-size: 13px;
}

.userInfo li {
	display: inline;
	color: white;
	margin-left: 0px;
}

.userInfo li a {
	color: white;
}

/*
 * Das ist die obere Navigation
 */
.header #ueberschrift {
	margin-top: 20px;
}

.header #ueberschrift a {
	color: white;
}

/*
 * Das ist die obere Navigation
 */
.header #navigation li {
	display: inline;
	margin: 0px;
}

.header #navigation {
	margin-top: -10px;
}

.header #navigation li a:link, 
.header #navigation li a:visited {
	padding: 5px 10px 5px 10px;
	margin-top: 0px;
	display: inline-block;
	border: 2px solid transparent;
	text-align: center;
	color: white;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	text-decoration: none;
}

.header #navigation li a:link:hover, 
.header #navigation li a:visited:hover {
	background: grey;
	color: white;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

/* NavigationsHightlights */ 

#uebersicht #uebersicht,
#guildwars #guildwars,
#forum #forum,
#fahrten #fahrten,
#starcitizen #starcitizen,
#profil #profil,
#adressbuch #adressbuch,
#informationen #dokumentation,
#kontakt #kontakt,
#admin #admin,
#learn #learn,
#kontakt2 #kontakt,
#doku #doku,
#quellen #quellen,
#finanzen #finanzen,
#impressum #impressum {
	border-bottom: 2px solid white;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

/* Highlights Ende */

/*
 * Obere Navigation ENDE
 */

/* Grundeinstellungen  */
.unternav ul {
	margin-bottom: 10px;
}

.unternav li {
	display: inline;
	margin: 0px;
	border: 1px solid black;
	padding: 5px;
}

.unternav li:hover {
	border: 1px solid black;
	background: #808080;
	color: white;
}

.unternav li a:hover {
	color: white;
}

/* Übersicht */

.changeStatus input[type=submit] {
	box-shadow: none;
	border: none;
	color: black;
	padding: 5px;
	margin: 0px;
}


.bereichNEW {
	background-color: white;
	border: 1px solid #bebebe;
	box-shadow: 0px 0px 10px #bebebe;
	width: 94%;
	padding: 5px;
}

.bereichNEW #name {
	width: 250px;
	padding: 10px;
}

.bereichNEW #link {
	width: 600px;
	margin-left: 10px;
	padding: 10px;
}

.bereichNEW #desc {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	width: 600px;
	margin-right: 10px;
}

.bereichNEW #sort,
.bereichNEW #css {
	width: 100px;
	margin: 5px;
	padding: 10px;
}

.bereichNEW select {
	padding: 10px;
}

.bereichNEW #submit {
	box-shadow: none;
	padding: none;
	margin-top: 1px;	
}

.bereichNEW #checkbox {
	margin-left: 10px;
}

.bereichadressbuch h2,
.bereichguildwars h2,
.bereichforum h2,
.bereichfinanzen h2,
.bereichfahrten h2,
.bereichlernen h2,
.bereichadministration h2,
.bereichprofil h2,
.bereichINACTIVE h2 {
	color: #414141;
}

.bereichadressbuch p,
.bereichguildwars p,
.bereichforum p,
.bereichfinanzen p,
.bereichfahrten p,
.bereichlernen p,
.bereichadministration p,
.bereichprofil p,
.bereichINACTIVE p {
	color: black;
	font-size: 12px;
	font-family: cursive;
}

.bereichINACTIVE {
	background-color: #ffffff;
	border: 1px solid #c0c0c0;
	box-shadow: 0px 0px 5px #c0c0c0;
	margin-bottom: 10px;
	margin-right: 10px;
	padding: 5px;
	min-height: 120px;
	width: 46%;
	display: inline-block;
	opacity: 0.6;
}

.bereichGesperrt {
	background-color: #ffe8e8;
	border: 1px solid #4a0000;
	box-shadow: 0px 0px 5px #ffcccc;
	margin-bottom: 10px;
	margin-right: 10px;
	padding: 5px;
	min-height: 120px;
	width: 46%;
	display: inline-block;
	opacity: 0.6;
}

.bereichadressbuch {
	background-color: white;
	background-image: url(../images/tiles/adressbuch.png);
	background-repeat: no-repeat;
	background-position: right;
	box-shadow: 0px 0px 5px grey;
	border: 1px solid grey;
	margin-bottom: 10px;
	margin-right: 10px;
	padding: 5px;
	min-height: 120px;
	width: 46%;
	display: inline-block;
}

.bereichguildwars {
	background-color: white;
	background-image: url(../images/tiles/guildwars2.png);
	background-repeat: no-repeat;
	background-position: right;
	border: 1px solid #930003;
	box-shadow: 0px 0px 5px #930003;
	margin-bottom: 10px;
	margin-right: 10px;
	padding: 5px;
	min-height: 120px;
	width: 46%;
	display: inline-block;
}

.bereichprofil {
	background-color: #e4e4e4;
	border: 1px solid grey;
	box-shadow: 0px 0px 5px grey;
	margin-bottom: 10px;
	margin-right: 10px;
	padding: 5px;
	min-height: 120px;
	width: 46%;
	display: inline-block;
}

.bereichfahrten {
	background-color: #ffffff;
	border: 1px solid #c0c0c0;
	box-shadow: 0px 0px 5px #c0c0c0;
	margin-bottom: 10px;
	margin-right: 10px;
	padding: 5px;
	min-height: 120px;
	width: 46%;
	display: inline-block;
}

.bereichlernen {
	background-color: #fffce8;
	border: 1px solid grey;
	box-shadow: 0px 0px 5px grey;
	margin-bottom: 10px;
	margin-right: 10px;
	padding: 5px;
	min-height: 120px;
	width: 46%;
	display: inline-block;
}

.bereichadministration {
	background-color: white;
/*	background-image: url(../images/tiles/administration.png);
	background-position: right;
	background-repeat: y-repeat; */
	border: 1px solid grey;
	box-shadow: 0px 0px 5px grey;
	margin-bottom: 10px;
	margin-right: 10px;
	padding: 5px;
	min-height: 120px;
	width: 46%;
	display: inline-block;
}

.bereichfinanzen {
	background-color: #f7f7f7;
	background-image: url(../images/tiles/finanzen.png);
	background-position: right;
	background-repeat: no-repeat;
	border: 1px solid #8080ff;
	box-shadow: 0px 0px 5px #8080ff;
	margin-bottom: 10px;
	margin-right: 10px;
	padding: 5px;
	min-height: 120px;
	width: 46%;
	display: inline-block;
}

.bereichforum {
	background-color: #f0f0ff;
	background-image: url(../images/tiles/forum.png);
	background-repeat: no-repeat;
	background-position: top;
	border: 1px solid grey;
	box-shadow: 0px 0px 5px grey;
	margin-bottom: 10px;
	margin-right: 10px;
	padding: 5px;
	min-height: 120px;
	width: 46%;
	display: inline-block;
}

.hilfe {
	width: 200px;
	margin-right: -12px;
	float: right;
	right: 50px;
	margin-top: -46px;
	padding: 10px;
	border-left: 2px solid #464646;
}

.hilfe li {
	list-style-type: none;
	display: inline-block;
}

/* HANDWERK */
.handwerkField {
	border: 1px solid #464646;
	border-collapse: collapse;
	background: #ebebeb;
	table-layout: fixed;
	width: 100%;
	/*background-image: url(../images/gwbackground_old.jpg);
	background-repeat: no-repeat;
	background-position: top;*/
}

.handwerkField td {
	border: 1px solid #464646;
	padding: 3px;
	font-size: 12px;
	height: 50px;
	word-wrap: break-word;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* Heart of Thorns Erweiterung der Handwerksfelder */
.handwerkField #thorns {
	background-color: #f1f2fe;
	border: 1px solid grey;
	color: blue;
}

.handwerkField #thorns input[type=text] {
	background-color: transparent;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: grey;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: grey;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: grey;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: grey;
}

.handwerkField input[type=number] {
	width: 90%;
	border: none;
	background: white;
	text-shadow: 0px 0px 5px white;
	border: 1px solid transparent;
	padding: 2px;
	margin: 0px;
}

.handwerkField input[type=text] {
	width: 90%;
	padding: 2px;
	background: white;
	border: 1px solid transparent;
}

.handwerkField input[type=text]:active,
.handwerkField input[type=text]:focus,
.handwerkField input[type=number]:active,
.handwerkField input[type=number]:focus {
	background: white;
	border: 1px solid red;
	box-shadow: 0px 0px 7px red;
}

.handwerkField thead {
	background: #464646; /* #804000; */
	color: white;
}

.bereiche #lederer {
	background-color: #c19a7d;
	border: 1py solid grey;
	padding-right: 5px;
	padding-left: 5px;
	height: 100%;
}

.bereiche #schneider {
	background-color: #ebebeb;
	border: 1py solid grey;
	padding-right: 5px;
	padding-left: 5px;
	height: 100%;
}

.bereiche #konstrukteur {
	background-color: #ffc6aa;
	border: 1py solid grey;
	padding-right: 5px;
	padding-left: 5px;
	height: 100%;
}

.bereiche #koch {
	background-color: #e4dad3;
	border: 1py solid grey;
	padding-right: 5px;
	padding-left: 5px;
	height: 100%;
}

.bereiche #waffenschmied {
	background-color: #75a8e6;
	border: 1py solid grey;
	padding-right: 5px;
	padding-left: 5px;
	height: 100%;
}

.bereiche #ruestungsschmied {
	background-color: #97bdec;
	border: 1py solid grey;
	padding-right: 5px;
	padding-left: 5px;
	height: 100%;
}

.bereiche #juwelier {
	background-color: #ddcdfc;
	border: 1py solid grey;
	padding-right: 5px;
	padding-left: 5px;
	height: 100%;
}

.bereiche #waidmann {
	background-color: #a0cfcf;
	border: 1py solid grey;
	padding-right: 5px;
	padding-left: 5px;
	height: 100%;
}

.bereiche h2 {
	color: #353535;
	font-size: 20px;
}

.bereiche a, 
.bereiche a:hover, 
.bereiche a:visited:hover {
	color: black;
	text-decoration: none;
}

.blaetterfunktion {
	margin: 5px 0 20px 0;
}

.newForumPost {
	margin-bottom: 10px;
	background: transparent;
	color: black;
	position: relative;
	border: 1px solid grey;
	min-height: 600px;
	padding: 5px;
	box-shadow: 0px 0px 5px black;
}

.neuerBlog {
	background-color: transparent;
	color: black;
	margin-bottom: 10px;
}

.neuerBlog select {
	padding: 10px;
	margin: 5px;
}

.neuerBlog #titel {
	width: 99%;
	border: 1px solid #B43104;
}

.neuerBlog #freigabe {
	position: absolute;
	margin-left: 500px;
	margin-top: -70px;
}

.summe {
	position: absolute;
	width: 500px;
	background: white;
	padding: 6px;
	min-height: 200px;
	border: 1px solid #a03235;
	margin-left: 20%;
	margin-top: 10%;
	box-shadow: 0px 0px 10px #000000;
}

.summe a {
	color: black;
}

.closeSumme {
	position: absolute;
	margin-left: 478px;
	margin-top: -10px;
	border: 1px solid #a03235;
	display: inline-block;
	padding: 3px 12px;
	color: white !important;
	border-radius: 10px;
	background-color: #a03235;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.closeSumme:hover {
	background-color: white;
	color: #a03235 !important;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.scrollContainer {
	padding: 10px;
	font-family: cursive;
}

/* Adressbuch */
.adresseintrag {
	border: 1px solid #a03235;
	margin-bottom: 10px;
	float: left;
	margin-right: 10px;
	box-shadow: 0px 0px 5px black;
	width: 210px;
	overflow: hidden;
	height: 40px;
	padding: 10px;
	background: white;
	color: black;
	position: relative;
}

.adresseintragGrey {
	border: 1px solid transparent;
	margin-bottom: 10px;
	float: right;
	margin-right: 10px;
	box-shadow: 0px 0px 5px grey;
	width: 210px;
	padding: 10px;
	background: white;
	color: grey;
	position: relative;
}

.adresseintrag a {
	color: black;
}

.adresseintragGrey a {
	color: grey;
}

.adresseintrag:hover a {
	color: #dd2226;
	text-decoration: none;
}

.adresseintragGrey:hover a {
	color: #c0c0c0;
	text-decoration: none;
}

.grey {
	color: #8f8f8f;
}

#stern {
	color: white;
	float: left;
	font-size: 40px;
	margin-top: -8px;
}

.kalender {
	padding: 10px;
	border-top: 1px solid #a03235;
	width: 250px;
	float: left;
	height: 170px;
	background-color: white;
}

.kalender a {
	color: black;
}

.kalenderLink {
	border: 1px solid #a03235;
	padding: 1px 40px 1px 40px;
	border-radius: 4px;
	background-color: transparent;
}

.kalenderLink:hover {
	text-decoration: none;
	border: 1px solid grey;
	background-color: #d2d2d2;
}

/* Benutzerprofil */
.gwEinstellungen {
	border: 1px solid grey;
	background-image: url(../images/index-login.jpg);
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: top;
	background-attachment: fixed;
	padding: 5px;
	margin: 5px;
	background-color: white;
}

.optionLink {
	color: black !important;
	display: inline-block;
	padding: 10px 3px 10px 3px;
	width: 200px;
	border: 1px solid #c0c0c0;
}

.optionLink:hover {
	background-color: #c0c0c0;
	text-decoration: none;
}

.quadratOption {
	display: inline-block;
	padding: 10px 10px 10px 10px;
	background-color: #c0c0c0;
	color: #5d5d5d!important;
	border: 1px solid transparent;
}

.quadratOption:hover {
	background-color: #ffaaaa;
	text-decoration: none;
	color: red !important;
	border: 1px solid red;
}

/* Icons */

.IconPlacement {
	position: relative;
	float: right;
}

.IconRasse {
	position: relative;
	float: right;
}

.GWCharInfos {
	background: white;
	box-shadow: 0px 0px 5px black;
	border: 1px solid grey;
	padding: 10px;
	position: absolute;
	right: 5px;
	width: 200px;
	color: black;
	background-image: url(../images/gw/gwdieb.png);
}

.GWCharInfos #table {
	width: 100%;
	border-collapse: collapse;
}

.GWCharInfos #table td {
	border-bottom: 1px solid black;
	padding: 5px;
}

.GWCharInfos h2 {
	margin-top: -8px;
}

/* Guildwars */

.gwstart1 #erkundungAussen {
	border-right: 2px solid grey;
	width: 180px;
}

.gwstart1 {
	margin: 6px;
	width: 270px;
	height: 170px;
	float: left;
	color: black;
	position: relative;
	overflow: hidden;
	border: 1px solid grey;
}

.gwstart1:hover {
	border: 1px solid #535353; /* #4e4e4e; #a03235 */
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.gwstart1 #lowerInfo {
	position: absolute;
	left: 200px;
	bottom: 0px;
	color: #616161;
	text-shadow: 0px 0px 2px white;
}

.gwstart1 a {
	color: black;
}

.gwstart1 h3 {
	padding: 5px 0 0 0;
	margin: 5px 0px -17px 0px;
}

.gwstart1 #options {
	position: relative;
	left: 300px;
	width: 110px;
	top: 7px;
}

.gwstart1 h3 {
	position: relative;
	top: -16px;
}

.gwstart1 h3 a {
	color: black;
}

.gwstart1 #gwengineer {
	background-image: url(../images/gw/engineer-start1.png);
	padding: 5px;
	height: 160px;
	text-shadow: 0 10px 10px white;
	color: #b33a00;
}

.gwstart1 #gwengineer h3 a {
	color: #b33a00;
}

.gwstart1 #gwkrieger {
	background-image: url(../images/gw/gwkrieger.png);
	padding: 5px;
	height: 160px;
	color: #793d00;
}

.gwstart1 #gwkrieger h3 a {
	color: #793d00;
}

.gwstart1 #gwwaechter {
	background-image: url(../images/gw/gwwaechter.png);
	padding: 5px;
	height: 160px;
	color: #00009f;
}

.gwstart1 #gwwaechter h3 a {
	color: #00008b;
}

.gwstart1 #gwdieb {
	background-image: url(../images/gw/gwdieb.png);
	padding: 5px;
	height: 160px;
	color: #2d2d2d;
	text-shadow: 0px 0px 5px white;
}

.gwstart1 #gwdieb h3 a {
	color: #404040;
}

.gwstart1 #gwwaldlaeufer {
	background-image: url(../images/gw/gwwaldlaeufer.png);
	padding: 5px;
	height: 160px;
	color: #2f4f4f;
}

.gwstart1 #gwwaldlaeufer h3 a {
	color: #2f4f4f;
}

.gwstart1 #gwelementarmagier {
	background-image: url(../images/gw/gwelementarmagier.png);
	padding: 5px;
	height: 160px;
	color: #9d0000;
}

.gwstart1 #gwelementarmagier h3 a {
	color: #9d0000;
}

.gwstart1 #gwnekromant {
	background-image: url(../images/gw/gwnekromant.png);
	padding: 5px;
	height: 160px;
	color: #004a00;
}

.gwstart1 #gwnekromant h3 a {
	color: #004a00;
}

.gwstart1 #gwmesmer {
	background-image: url(../images/gw/gwmesmer.png);
	padding: 5px;
	height: 160px;
	color: #5b005b;
}

.gwstart1 #gwmesmer h3 a {
	color: #5b005b;
}

.gwstart1 #gwwidergaenger {
	/* background-image: url(../images/gw/gwwidergaenger.png); */
	background-color: #ffffff;
	padding: 5px;
	height: 160px;
	color: #00593f;
}

.gwstart1 #gwwidergaenger h3 a {
	color: #00593f;
}

.benCenter {
	background-color: white;
	position: absolute;
	width: 400px;
	margin-left: -180px;
	border: 3px solid green;
	box-shadow: 0px 0px 10px green;
	color: black;
	text-align: left;
	padding: 5px 10px 10px 10px;
}

.benCenter #benachrichtigung {
	color: green;
	padding: 3px;
	border: 1px solid green;
	display: inline-block;
}

.benCenter #benachrichtigung:visited {
	color: #d4d4d4;
	padding: 3px;
	border: 1px solid #c5c5c5;
}

.newCharWIDE {
	border: 1px solid #a03235;
	margin-bottom: 10px;
	box-shadow: 0px 0px 5px black;
	padding: 10px;
	margin-top: 10px;
	background: white;
	color: black;
	position: relative;
}

.newChar {
	border: 1px solid #a03235;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	box-shadow: 0px 0px 5px black;
	width: 700px;
	padding: 10px;
	background: white;
	color: black;
	position: relative;
}

.newChar select, .newCharWIDE select {
	padding: 3px;
	width: 211px;
	background: #ebebeb;
	color: black;
	border: 1px solid #808080;
	font-family: cursive;
}

.newChar input[type=text]
, .newChar input[type=number]
, .newChar input[type=date]
, .newChar input[type=password],
.newCharWIDE input[type=text]
, .newCharWIDE input[type=number]
, .newCharWIDE input[type=date]
, .newCharWIDE input[type=password] {
	background: #ebebeb;
	color: black;
	border: 1px solid #808080;
	width: 200px;
	font-family: cursive;
}

.newChar textarea, .newCharWIDE textarea {
	padding: 10px; 
	margin-top: 15px;
	margin-bottom: 15px;
	border: 1px solid grey; 
	background-color: #ebebeb;
	font-family: cursive;
	width: 95%;
}

.showUsers {
	position: absolute;
	margin-left: 500px;
	margin-top: -70px;
}

.selectUsers {
	padding: 6px;
	margin-right: 100px;
	width: 150px;
	border: 1px solid red;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px
		rgba(0, 0, 0, 0.05);
}

.bigSelect {
	padding: 10px;
	width: 200px;
	border: 2px solid #0080c0;
	border-radius: 2px;
	color: black;
	margin-right: 20px;
	font-size: 15px;
}

.showChars {
	border: 1px solid transparent;
	border-radius: 5px;
	width: 870px;
}

.gwShowCharWächter h3, .gwShowCharWächter h2 {
	color: #000037;
	text-shadow: 0px 0px 5px white;
}

.gwShowCharWächter {
	background-image: url(../images/gw/waechter2.jpg);
	background-position: 0% 0%;
	background-repeat: no-repeat;
	border: 2px solid blue;
	padding: 10px;
	color: #000037;
	margin-top: 10px;
}

.gwShowCharWaldläufer h3, .gwShowCharWaldläufer h2 {
	color: #004800;
	text-shadow: 0px 0px 5px white;
}

.gwShowCharWaldläufer {
	background-image: url(../images/gw/ranger.jpg);
	background-position: 0% 0%;
	background-repeat: no-repeat;
	border: 2px solid #004800;
	padding: 10px;
	color: black;
	margin-top: 10px;
}

.gwShowCharIngenieur h3, .gwShowCharIngenieur h2 {
	color: white;
	text-shadow: 0px 0px 5px black;
}

.gwShowCharIngenieur {
	background-image: url(../images/gw/engineer.jpg);
	background-position: 0% 0%;
	background-repeat: no-repeat;
	border: 2px solid black;
	padding: 10px;
	color: white;
	margin-top: 10px;
}

.gwShowCharElementarmagier h3, .gwShowCharElementarmagier h2 {
	color: #800000;
	text-shadow: 0px 0px 5px white;
}

.gwShowCharElementarmagier {
	background-image: url(../images/gw/ele.jpg);
	background-position: 0% 0%;
	background-repeat: no-repeat;
	border: 2px solid black;
	padding: 10px;
	color: #800000;
	margin-top: 10px;
}

.gwShowCharMesmer h3, .gwShowCharMesmer h2 {
	color: #4a004a;
	text-shadow: 0px 0px 5px white;
}

.gwShowCharMesmer {
	background-image: url(../images/gw/mesmer.jpg);
	background-position: 0% 0%;
	background-repeat: no-repeat;
	border: 2px solid black;
	text-shadow: 0px 0px 10px white;
	padding: 10px;
	color: #4a004a;
	margin-top: 10px;
}

.gwShowCharNekromant h3, .gwShowCharNekromant h2 {
	color: #004040;
	text-shadow: 0px 0px 5px white;
}

.gwShowCharNekromant {
	background-image: url(../images/gw/nekro.jpg);
	background-position: 0% 0%;
	background-repeat: no-repeat;
	border: 2px solid #004040;
	text-shadow: 2px 0px 2px white;
	padding: 10px;
	color: #004040;
	margin-top: 10px;
}

.gwShowCharKrieger h3, .gwShowCharKrieger h2 {
	color: white;
	text-shadow: 0px 0px 5px black;
}

.gwShowCharKrieger {
	background-image: url(../images/gw/krieger.jpg);
	background-position: 0% 0%;
	background-repeat: no-repeat;
	border: 2px solid black;
	padding: 10px;
	color: white;
	text-shadow: 2px 2px 5px black;
	margin-top: 10px;
}

.gwShowCharDieb h3, .gwShowCharDieb h2 {
	color: black;
	text-shadow: 0px 0px 5px white;
}

.gwShowCharDieb {
	background-image: url(../images/gw/dieb.jpg);
	background-position: 0% 0%;
	background-repeat: no-repeat;
	border: 2px solid black;
	padding: 10px;
	color: black;
	margin-top: 10px;
}

.gwShowCharWidergänger h3, .gwShowCharWidergänger h2 {
	color: white;
	text-shadow: 0px 0px 5px black;
}

.gwShowCharWidergänger {
	background-image: url(../images/gw/widergaenger.jpg);
	background-color: black;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	border: 2px solid black;
	text-shadow: 0px 0px 10px black;
	padding: 10px;
	color: #ffffff;
	margin-top: 10px;
}

/* Inputtextfelder für die Charakter.*/
.gwShowCharWächter input[type=text],
.gwShowCharKrieger input[type=text],
.gwShowCharNekromant input[type=text],
.gwShowCharMesmer input[type=text],
.gwShowCharElementarmagier input[type=text],
.gwShowCharIngenieur input[type=text],
.gwShowCharDieb input[type=text],
.gwShowCharWidergänger input[type=text],
.gwShowCharWaldläufer input[type=text] {
	bow-shadow: inset 5px 5px 5px red;
	width: 80px;
	border: 1px solid transparent;
	background: white;
}

/* Inputtextfelder für die Charakter.*/
.gwShowCharWächter input[type=date],
.gwShowCharKrieger input[type=date],
.gwShowCharNekromant input[type=date],
.gwShowCharMesmer input[type=date],
.gwShowCharElementarmagier input[type=date],
.gwShowCharIngenieur input[type=date],
.gwShowCharDieb input[type=date],
.gwShowCharWidergänger input[type=date],
.gwShowCharWaldläufer input[type=date] {
	bow-shadow: inset 5px 5px 5px red;
	width: 130px;
	padding: 4px;
	border: 1px solid transparent;
	background: white;
}

/* Inputtextfelder für die Charakter.*/
.gwShowCharWächter input[type=number],
.gwShowCharKrieger input[type=number],
.gwShowCharNekromant input[type=number],
.gwShowCharMesmer input[type=number],
.gwShowCharElementarmagier input[type=number],
.gwShowCharIngenieur input[type=number],
.gwShowCharDieb input[type=number],
.gwShowCharWidergänger input[type=number],
.gwShowCharWaldläufer input[type=number] {
	bow-shadow: inset 5px 5px 5px red;
	width: 50px;
	padding: 4px;
	border: 1px solid transparent;
	background: white;
}

.gwShowCharWächter select,
.gwShowCharKrieger select,
.gwShowCharNekromant select,
.gwShowCharMesmer select,
.gwShowCharElementarmagier select,
.gwShowCharIngenieur select,
.gwShowCharDieb select,
.gwShowCharWidergänger select,
.gwShowCharWaldläufer select {
	padding: 5px;
	background: white;
	border: none;
}

.rightLink {
	background: grey;
	display: inline-block;
	position: absolute;
	margin-left: 179px;
	padding: 10px;
	text-shadow: 0px 0px 3px white;
}

.rightLink:hover {
	background: #c0c0c0;
	text-shadow: 0px 0px 10px red;
}

.bereichLink2 {
	padding: 2px;
	font-size: 15px;
	text-shadow: 0px 0px 3px white;
}

.bereichLinkMaster {
	padding: 2px;
	text-shadow: 0px 0px 3px white;
	/*background-image: url("../images/stern.jpg");
	background-repeat: no-repeat;
	background-position: right;*/
}

.bereichLink2 a {
	color: black;
}

.bereichLink2:hover, 
.bereichLinkMaster:hover {
	background: white;
}

.lowerTabs {
	position: relative;
	bottom: -65px;
	left: -5px;
	display: inline-block;
	background-color: grey;
	padding: 5px;
}

.lowerTabs:hover {
	background-color: white;
}

.seitenLink {
	background-color: #c0c0c0;
	padding: 3px 12px 3px 12px;
	border-radius: 10px;
	border-radius: 0px 0px 10px 10px;
	display: inline-block;
	margin-right: 3px;
}

.seitenLinkActive {
	background-color: #373737;
	padding: 3px 12px 3px 12px;
	border-radius: 10px 10px 0px 0px;
	display: inline-block;
	margin-right: 3px;
}

.seitenLink:hover, .seitenLinkActive:hover {
	background-color: grey;
	text-decoration: none;
	border-radius: 10px 10px 0px 0px;
	color: black;
}

.buttonlink {
	display: inline-block;
	padding: 3px 12px;
	border: 1px solid #3366FF;
	box-shadow: 0px 0px 5px grey;
	margin: 0px 2px 2px 2px;
	background-color: white;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	
}

.buttonlink:hover {
	box-shadow: 0px 0px 5px #3366FF;
	background: #F0F0F0;
	text-shadow: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	text-decoration: none;
}

.buttonlink:active, 
.buttonlink:focus, 
.greenLink:active, 
.greenLink:focus,
input[type=submit]:active,
input[type=submit]:focus {
	background-color: #b9b9ff;
	border: 1px solid #7575ff;
	text-shadow: none;
	text-decoration: none;
	box-shadow: 0px 0px 10px #7575ff;
}

.buttonlinkMarked {
	display: inline-block;
	border: 1px solid black;
	padding: 4px 12px;
	margin-right: 2px;
	margin-bottom: 2px;
	font-size: 14px;
	color: black;
	border-radius: 2px;
	background-color: #808080;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.buttonlinkMarked:hover {
	border: 1px solid black;
	color: black;
	cursor: pointer;
	background: #ff8000;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	text-decoration: none;
}

.greenLink {
	display: inline-block;
	padding: 3px 12px;
	margin-bottom: 0;
	margin-left: 2px;
	box-shadow: 0px 0px 5px #02620a;
	color: #02620a !important;
	background-color: white;
	border: 1px solid #02620a;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.greenLink:hover {
	text-decoration: none;
	border: 1px solid #02620a;
	text-shadow: 0px 0px 10px #02620a;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.highlightedLink {
	padding:  2px 12px;
	margin-left: 2px;
	margin-top: 1px;
	float: right;
	cursor: pointer;
	border: 1px solid #a03235;
	box-shadow: 0px 0px 5px #a03235;
	color: #a03235 !important;
	background-color: white;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.highlightedLink:hover {
	background-color: #ffe6e7;
	text-decoration: none;
	text-shadow: 0px 0px 5px #a03235;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.rightGreenLink {
	padding:  2px 12px;
	margin-left: 2px;
	margin-top: 1px;
	float: right;
	cursor: pointer;
	border: 1px solid green;
	color: green !important;
	background-color: white;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.rightGreenLink:hover {
	text-decoration: none;
	text-shadow: none;
	background-color: #dfffdf;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.rightRedLink {
	padding:  2px 12px;
	margin-left: 2px;
	margin-top: 1px;
	float: right;
	cursor: pointer;
	border: 1px solid #a03235;
	color: #a03235 !important;
	background-color: white;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.rightRedLink:hover {
	text-decoration: none;
	text-shadow: none;
	background-color: #ffe8e8;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.rightBlueLink {
	padding:  2px 12px;
	margin-left: 2px;
	margin-top: 1px;
	float: right;
	cursor: pointer;
	border: 1px solid #5959ff;
	color: #5959ff !important;
	background-color: white;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.rightBlueLink:hover {
	text-decoration: none;
	background-color: #e1e1ff;
	text-shadow: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.neuerSchliessKnopf {
	background-color: red;
	padding: 2px 10px 2px 10px;
	position: absolute;
	left: 390px;
	border-radius: 10px;
	border: 1px solid white;
	top: -10px;
	float: right;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.neuerSchliessKnopf:hover {
	text-decoration: none;
	color: black;
	background-color: white;
	border: 1px solid black;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
/* Ende der Button Links */

/* Bereich Links */
.bereichLink {
	color: black;
	background: white;
	padding: 3px;
	margin-left: -5px;
	display: inline-block;
	width: 101%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.bereichLink:hover {
	background: #c0c0c0;
	color: black;
}

/* Einstellungen der Radio Buttons */
input[type=radio] {
	display: none;
}

input[type=radio]+label {
	display: inline-block;
	box-shadow: 0px 0px 5px grey;
	margin-right: 2px;
	padding: 4px 12px;
	font-size: 14px;
	color: #333;
	cursor: pointer;
	background-color: white;
	border: 1px solid #3366FF;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

input[type=radio]:checked+label {
	background-color: #b3cfff;
	border: 1px solid blue;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

input[type=radio]+label:hover {
	border: 1px solid #3366FF;
	background: #e4e1ff;
	box-shadow: 0px 0px 5px grey;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* Einstellungen der Submit Buttons */
input[type=submit] {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background: white;
	padding: 7px 12px 5px 12px;
	border:1px solid #3366FF;
	box-shadow: 0px 0px 5px #3366FF;
	cursor:pointer;
	color: #3366FF;
}

input[type=submit]:hover {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #C6D5FF;
	color: black;
}

.largeField {
	margin-right: 10px;
	padding: 10px;
	width: 20%;
}

/* Hilfebox */
.mainbody .rightBody #hilfebox textarea {
	padding: 5px;
	font-size: 18px;
	
} 

/* Submit Button mit Hervorhebung */
#buttonFocus {
	border: 1px solid red;
	background: orange;
	padding: 3px;
}

#buttonFocus:hover {
	border: 1px solid red;
	background: #dd4800;
	text-decoration: none;
}

/* Inputbutton Einstellungen ende */

.smallInput {
	width: 30px;
	margin-left: 2px;
	margin-right: 4px;
	border: 1px solid grey;
}

/* Einstellungen der Input Textfelder */
input[type=text], input[type=number] {
	padding: 5px;
	border: 1px solid #c0c0c0;
	background: white;
}

input[type=date] {
	padding: 4px;
	border: 1px solid #c0c0c0;
	background: white;
	width: 171px;
}

input[type=text]:focus {
	border: 1px solid #4f4f4f;
}

input[type=password] { 
	padding: 5px;
	border: 1px solid #c0c0c0;
}

input[type=password]:focus {
	border: 1px solid #4f4f4f;
}

.alterUmsatz {
	background-color: white;
	color: black;
	position: fixed;
	border-radius: 10px;
	padding: 10px;
	width: 400px;
	left: 30%;
	box-shadow: 0px 0px 20px black;
	border: 1px solid #800000;
}

.alterUmsatz input[type=text] {
	margin-bottom: 10px;
	border: 1px solid #800000;
	width: 90%;
	color: black;
	background-color: white;
}

.alterUmsatz input[type=date] {
	margin-bottom: 10px;
	border: 1px solid #800000;
	width: 90%;
	background-color: #ffffff;
	color: black;
}

.alterUmsatz input[type=text]:focus,
.alterUmsatz input[type=date]:focus {
	border: 1px solid green;
	color: green;
	background-color: #e0ffd2;
}

.finanzNAV li {
	display: inline-block;
	margin: 0px 0px 0px 0px;
	border-bottom: 1px solid #000079;
	padding: 5px;
}

.finanzNAV li:hover {
	background-color: #d5d8ff;
}

.finanzNAV li a:hover {
	text-decoration: none;
}

.FinanzenMonate {
	margin: 5px 0px 5px 0px;
}

.FinanzenMonate a {
	color: grey;
}

.FinanzenMonate #selected {
	background-color: #747474;
	color: white;
}

.FinanzenMonate #selected a {
	color: white;
}

.FinanzenMonate li {
	display: inline-block;
	background-color: #dbdbdb;
	padding: 5px;
	margin: 0px 5px 0px 0px;
	border: 1px solid transparent;	
}

.FinanzenMonate li:hover,
.FinanzenKonten li:hover {
	background-color: #cdcdcd;
	border: 1px solid grey;
}

.FinanzenKonten {
	margin: 0px;
}

.FinanzenKonten a {
	color: grey;
}

.FinanzenKonten #selected {
	background-color: #747474;
	color: white;
}

.FinanzenKonten #selected a {
	color: white;
}
.FinanzenKonten #selected a:hover, .FinanzenKonten a:hover {
	text-decoration: none;
}

.FinanzenKonten li {
	display: inline-block;
	margin: 0px 2px 2px 0px;
	border: 1px solid grey;
	padding: 5px;
}

.Guthabenkonto {
	padding: 5px;
	border: 1px solid green;
	margin: 5px;
	display: inline-block;
	box-shadow: 0px 0px 5px green;
}

.Konto {
	padding: 5px;
	border: 1px solid #8c0000;
	margin: 5px;
	display: inline-block;
	box-shadow: 0px 0px 3px grey;
}

.Guthabenkonto:hover {
	box-shadow: 0px 0px 5px grey;
	border: 1px solid grey;
}

.Guthabenkonto a, .Konto a {
	color: black;
}

.kontoTable {
	border-collapse: collapse;
	border: 2px solid white;
	width: 100%;
	color: black;
}


.kontoTable a {
	color: black;
}

.kontoTable input[type=text],
.kontoTable input[type=date] {
	width: 90%;
	padding: 10px;
	border: 1px solid grey;
}

.kontoTable select {
	width: 95%;
	padding: 10px;
	border: 1px solid grey;
}
.kontoTable thead {
	background: #cdcdcd;
	color: black;
	font-style: italic;
}

.kontoTable thead td {
	padding-bottom: 10px;
}

.kontoTable tfoot td {
	background-color: #c1ccff;
}

.kontoTable #minus {
	color: #ff5e5e;
	text-align: right;
}

.kontoTable #plus {
	color: #007124;
	text-align: right;
}

.kontoTable #today {
	background-color: #f0faff;
	border: 1px solid black;
	color: black;
}

.kontoTable #today a {
	color: black;
}

.kontoTable #rightAlign {
	text-align: right;
}

.kontoTable #rot {
	text-align: right;
	background-color: #ffc4c4;
	color: #b70004;
}

.kontoTable tbody {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	font-weight: normal;
	font-family: cursive;
	border: 1px solid #c0c0c0;
	background-color: #f5f5f5;
	color: black;
}

.kontoTable tbody:hover {
	background: #dddddd;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.kontoTable #offen {
	color: #007124;
}

.kontoTable #offen:hover {
	background-color: #eaffec;
	color: black;
} 

.kontoTable td {
	padding: 3px;
	text-align: left;
	vertical-align: top;
}

.AdressTable {
	border-collapse: collapse;
	background-color: white;
}

.AdressTable td {
	border: 1px solid grey;
}

.AdressTable input[type=text],
.AdressTable input[type=date] {
	width: auto;
	border: none;
}

/* FlatnetTable eigene Tabelle für die Flatnet Seite */
.flatnetTable {
	border-collapse: collapse;
	margin-bottom: 5px;
	width: 100%;
	color: black;
}

.flatnetTable #hervorgehoben {
	font-weight: bold;
	text-shadow: 0px 0px 5px white;
}

.flatnetTable thead {
	background: #a7a7a7;
	text-align: left;
	color: black;
	font-weight: bolder;
	border-bottom: 1px solid #3e3e3e;
}

.flatnetTable tbody {
	border: 1px solid #c0c0c0;
	background-color: #efefef;
}

.flatnetTable tfoot {
	background-color: #a7a7a7;
	border-bottom: 2px solid black;
}

.flatnetTable tfoot td {
	padding-top: 15px;
}

.flatnetTable td {
	padding: 2px 10px 2px 3px;
	vertical-align: middle;
}

.flatnetTable #offen {
	background: #cbfecf;
}

.flatnetTable #illegal {
	background: #ff9393;
}

.flatnetTable #error {
	background: #ffee91;
}

.flatnetTable #login {
	background: #fdffdd;
}

.flatnetTable #login:hover,
.flatnetTable #error:hover,
.flatnetTable #illegal:hover,
.flatnetTable #offen:hover {
	color: black;
	background-color: #ffffff;
}

.flatnetTable #long {
	width: 300px;
}

.flatnetTable #options {
	width: 100px;
}

.flatnetTable a:link,
.flatnetTable a:visited, 
.flatnetTable a:active,
.flatnetTable a:focus {
	color: black;
}

.flatnetTable a:link:hover,
.flatnetTable a:visited:hover {
	color: black;
}

.flatnetTable #datum {
	width: 150px;
}

.flatnetTable #text {
	width: 800px;
}

/* Rechte System */
.rechtesystem #ueberschrift {
	color: blue;
}

.benutzerrechte thead {
	background: orange;
	color: white;
}

.benutzerrechte tbody:hover {
	background: grey;
}

.benutzerrechte #td1 {
	width: 350px;
}
/* Ende Einstellungen Telefonbuch */

/*     ############### DIV BOXEN ################      */

/* zum hervorheben (universal) */
.hinweis {
	background-color: #fbfbd9;
	border: 1px solid #d3cf81;
	padding: 5px;
	display: inline-block;
	margin-top: 5px;
}

.spacer {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: transparent;
	color: black;
}

.rightSpacer {
	float: right;
	padding: 10px;
	background-color: white;
	width: 200px;
	box-shadow: 0px 0px 10px black;
}

.rightSpacer h2 {
	color: #000075;
}

/* Ist der Hauptbody auf allen Seiten */
#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	min-width: 650px;
	max-width: 1000px;
	background-color: transparent;
	border-left: 5px solid white;
	border-right: 5px solid white;
	border-bottom: 5px solid white;
	opacity: .96
}

.mainbody {
	background-color: white;
	padding: 10px;
}

.mainbodyDark {
	background-color: white; /* #373737; */
	padding: 10px;
}

.login {
	background: white;
	background-image: url("../images/index-login.jpg");
	padding: 10px;
	background-repeat: no-repeat;
	background-position: right;
	width: 900px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border: 2px solid #3a3a3a;
	color: #000000;
	
}

.login h1 a {
	font-size: 35px;
	color: grey;
}

.login #loginTitel {
	font-style: italic;
	font-size: large;
	color: #595959;
}

.login input[type=text],
.login input[type=password] {
	width: 300px;
	padding: 10px;
	box-shadow: 0px 0px 30px #808080;
	border-radius: 10px;
	border: none;
	margin-bottom: 10px;
	background-color: transparent;
	color: grey;
}

.login #register {
	width: 320px;
	margin-top: 100px;
}

.login #optionen {
	margin-top: -70px;
	margin-left: 300px;
}

.login #optionen li {
	display: inline;
	margin: 0px 0px 0px 0px;
	border-left: 1px solid grey;
	padding-left: 5px;
}

.login li a {
	color: grey;
}

.login #DatenschutzInfos,
.login #Impressum,
.login #zweck  {
	margin-top: 10px;
	float: right;
	width: 520px;
	background-color: white;
	position: relative;
	top: 0px;
	padding: 5px;
	border-radius: 10px;
	overflow-y: scroll;
	height: 400px;
}

.login #DatenschutzInfos p,
.login #DatenschutzInfos li,
.login #Impressum p,
.login #Impressum li,
.login #zweck p,
.login #zweck li {
	font-size: 12px;
	margin-left: 0px;
}

.login #DatenschutzInfos h2,
.login #DatenschutzInfos h1,
.login #Impressum h1,
.login #Impressum h2,
.login #zweck h1,
.login #zweck h2 {
	font-size: 15px;
	color: grey;
}

.login #funktion {
	width: 400px;
	margin-left: 330px;
	margin-top: -60px;
}

.login #loginFelder {
	position: relative;
	top: 150px;
	width: 320px;
}

.login #loginFelder input[type=submit] {
	box-shadow: none;
	background-color: transparent;
	margin-left: 238px;
}

.innerBody {
	width: 75%;
	border-bottom: 3px solid #292929;
}

.innerBody #long {
	width: 40%;
	border: 1px solid grey;
}

.rightBody {
	width: 200px;
	float: right;
	padding: 0 10px 0 10px;
	border-left: 2px solid grey;
	font-size: 14px;
}

.sqlbox {
	margin-bottom: 10px;
	margin-top: 10px;
	background: white;
}

.sqlbox textarea {
	padding: 5px;
	width: 88%;
	border: 1px solid green;
}

#home #home,
#tiere #tiere,
#handwerk #handwerk,
#statistik #statistik,
#kalender #kalender,
#calc #calc,
#marked {
	color: white; /*  #525252; */
	background: #7b2020;
}

.InfoCenter, .InfoCenter a {
	color: white;
}

.InfoCenter {
	position: absolute;
	top: 70px;
	margin-left: 150px;
	max-width: 500px
	overflow: hidden;
}

.InfoCenter:hover {
	background-color: grey;
}

.rightOuterBody {
	position: absolute;
	overflow: hidden;
	border: 1px solid grey;
	min-width: 400px;
	max-width: 600px;
	max-height: 75px;
	margin-left: 170px;
	margin-top: -94px;
}

.rightOuterBody li {
	display: inline-block;
	padding: 3px 1px 3px 1px;
	margin-left: 0px;
}

.rightOuterBody li:hover {
	background: #c0c0c0;
}

.rightOuterBody li a {
	color: white;
	padding: 3px 10px 3px 10px;
	text-decoration: none;
}

.rightOuterBody ul {
	border: 1px solid transparent;
	background-color: #a6a6a6;
}

.rightBody li {
	list-style-type: none;
	background: #dfdfdf;
	border: 0px solid black;
	padding: 3px;
	margin-bottom: 3px;
	margin-left: 0px;
}

.rightBody li:hover {
	background: #808080;
}

.rightBody li a {
	color: black;
	border: 1px solid transparent;
	padding: 3px;
}

.rightBody li a:hover, li a:visited:hover, .rightOuterBody li a:hover {
	color: black;
}

.rightBody ul {
	margin: 0px;
	padding: 0px;
}

.topBody {
	height: 100px;
	width: 100%;
}

.topBody #left {
	float: left;
	margin-right: 5px;
	border-right: 2px solid grey;
	padding: 4px;
}

.topBody #right {
	float: right;
}

.GWtopBody {
	height: 20px;
	width: 100%;
}

.GWtopBody #left {
	float: left;
	margin-right: 5px;
	border-right: 2px solid grey;
	padding: 4px;
}

.GWtopBody #right {
	float: right;
}


/*     ############### STATUS MELDUNGEN ################      */
.meldung {
	color: #9b0000;
	padding: 5px;
	border: 1px solid #9b0000;
	background: white;
	margin-top: 5px;
	margin-bottom: 5px;
	box-shadow: 0px 0px 5px #9b0000;
	display: inline-block;
	width: 99%;
}

.info {
	color: #931e00;
	padding: 5px;
	border: 1px solid #CC2900;
	background: white;
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;
	width: 95%;
}

.erfolg {
	color: #008000;
	padding: 5px;
	border: 1px solid #008000;
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	box-shadow: 0px 0px 5px #008000;
	display: inline-block;
	width: 99%;
}

.erfolg a {
	color: #008000;
}

.dezentInfo {
	background: #ffcab0;
	padding: 5px;
	margin-top: 3px;
	font-size: 13px;
	border: 1px solid #820000;
	margin-bottom: 3px;
	color: #4a4a4a;
}

.dezentInfo a {
	color: black;
}

.gruppierung {
	border: 1px solid transparent;
	padding: 3px;
	margin-bottom: 5px;
}

.gruppierung:hover {
	border: 1px solid green;
}

.greenLine {
	background-color: green;
}

.infoText {
	color: grey;
	font-size: 10px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
}

.docuEintrag input[type=text] {
	width: 70%;
	height: 40px;
	margin-bottom: 10px;
	margin-right: 3px;
}

.docuEintrag input[type=submit] {
	height: 50px;
	width: 160px;
	margin-left: 0px;
}

/* FORUM */

.forumPost {
	border-collapse: collapse;
	width: 100%;
	box-shadow: 0px 0px 10px black;
	margin-bottom: 10px;
}

.forumPost thead {
	background-color: #373737;
	font-weight: bold;
	color: white;
}

.forumPost #small {
	font-size: 10px;
	background-color: transparent;
	color: grey;
	text-align: right;
	border-top: 2px solid grey;
	background-color: #e6e6e6;
}

.forumPost #small a {
	color: grey;
}

.forumPost #small #id {
	float: left;
}

.forumPost #smallLink {
	font-size: 10px;
}

.forumPost thead td {
	padding: 5px;
	border: 1px solid grey;
}

.forumPost thead a {
	color: white;
}

.forumPost tbody td {
	padding: 15px;
	color: black;
	background-color: white;
	vertical-align: top;
	border: 1px solid grey;
}

.forumPost tfoot {
	color: black;
}

.forumPost tfoot td {
	height: 20px;
	padding: 5px;
}

.forum {
	width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	padding: 5px;
	margin-top: 10px;
	color: black;
	background-color: #f2f2f2;
	background-image: url("../images/gwbackgroundDurchsichtig.png");
	background-position: top;
	background-repeat: no-repeat;
}

.editForumEintrag {
	border: 1px solid transparent;
	margin-bottom: 5px;
}

.forum a {
	color: black;
}

.forum a:hover {
	text-shadow: none;
}

.forum thead {
	background-color: #373737;
	color: white;
	font-weight: bold;
}

.forum td {
	padding: 5px;
	border: 1px solid grey;
}

.forum #titel {
	min-width: 400px;
}

.forum #datum {
	width: 140px;
}

.logInputForValue {
	border: none !important;
	background: white !important;
	width: 30px !important;
}

/* CHECKBOXES */

/* Einstellungen der Radio Buttons */
input[type=checkbox] {
/*	display: none; */
}

input[type=checkbox]+label {
	display: inline-block;
	border-radius: 5px 0px 5px 0px;
	margin-right: 2px;
	padding: 4px 12px;
	font-size: 14px;
	color: #333;
	cursor: pointer;
	background-color: #f5f5f5;
	border: 1px solid transparent;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

input[type=checkbox]:checked+label {
	background-color: #ff8040;
	border-radius: 10px;
	color: white;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

input[type=checkbox]+label:hover {
	border: 1px solid transparent;
	background: #c0c0c0;
	box-shadow: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* STAR CITIZEN */

.SCChars {
	border: 1px solid #4d4d4d;
	background-color: #4d4d4d;
	width: 97%;
	height: 150px;
	padding: 10px;
	color: white;
}

.mainbodyStarCitizen {
	background-color: white;
	padding: 5px;
}

/* Lernbereich */

.showKategorien {
	margin: 10px;
}

.showKategorien ul li {
	background-color: grey;
	padding: 5px;
	list-style-type: none;
	margin-left: 0px;
}

.showKategorien ul li a {
	color: white;
}

.createNewEintragInKategorie {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid grey;
	box-shadow: 0px 0px 10px grey;
	padding: 10px;
}

.createNewEintragInKategorie input[type=text] {
	margin-bottom: 20px;
	width: 98%;
}

.learnEintrag {
	border: 1px solid grey;
	margin-bottom: 10px;
	padding: 5px;
}

.learnEintrag h3 {
	margin-bottom: 10px;
}

.learnEintrag #bottom {
	border-top: 2px solid grey;
	padding: 10px;
	background-color: #e3e3e3;
}
.learnNewCat {
	border: 1px solid grey;
	padding: 10px;
}

.learnNewCat #oeffentlich {
	padding-top: 10px;
}

.loesungEintrag {
	border-top: 2px solid grey;
	margin-top: 5px;
	padding-top: 20px;
}

/* ENDE DER CSS */