.appbox {
	width: 300px;
	height: 550px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid grey;
	padding: 10px;
	background-color: white;
}

h1 {
	font-size: 25px;
	margin-left: auto;
	margin-right: auto;
	color: red;
}

.userInfo {
	margin-top: 20px;
	font-size: 20px;
}

.buildingBlock {
	display: inline-block;
	width: 70px;
	margin-left: 5px;
	height: 70px;
	color: white;
	background-color: grey;
	font-size: 20px;
	padding: 10px;
}

.buildingBlock #text {
	padding-left: 0px;

}

.selectLoc {
	background-color: red;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 85px;
	padding-left: 85px;
	font-size: 20px;
	color: white;
	position: absolute;
	margin-top: 300px;
	
	text-decoration: none;
}

.selectLoc2 {
	background-color: red;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 110px;
	padding-left: 120px;
	font-size: 20px;
	color: white;
	position: absolute;
	margin-top: 300px;
	
	text-decoration: none;
}

.selectLoc3 {
	background-color: red;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 110px;
	padding-left: 120px;
	font-size: 20px;
	color: white;
	position: absolute;
	margin-top: 350px;
	
	text-decoration: none;
}
.bottomRed {
	position: absolute;
	top: 500px;
	background-color: #b30000;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 90px;
	padding-right: 90px;
	font-size: 20px;
	color: white;
	text-decoration: none;
}

.textarea {
	border: 1px solid grey;
	background-color: #f3f3f3;
	font-size: 20px;
	padding: 10px;
}

.table1 {
	border-collapse: collapse;
}

.table1 a {
	color: red;
	text-decoration: none;
}

.table1 td {
	padding: 10px;
	width: 130px;
	height: 270px;
	font-size: 30px;
	border: 1px solid grey;
}

.table1 td:hover {
	background-color: #ffe8e8;
}

.table1 #sms {
	color: red;
	background-image: url(images/briefumschlag.png);
	background-repeat: no-repeat;
	background-position: bottom;
}

.table1 #voice {
	background-image: url(images/micro.png);
	background-repeat: no-repeat;
	background-position: bottom;
}

.table1 #call911 {
	background-image: url(images/krankenwagen.png);
	background-repeat: no-repeat;
	background-position: bottom;
}

.table1 #first {
	background-image: url(images/cross.png);
	background-repeat: no-repeat;
	background-position: bottom;
}

.appbox #erfolg {
	background-color: #80ff80;
	padding: 20px;
}
.appbox #erfolg h1 {
	color: green;
}

input[type=radio] {
	display: none;
}

input[type=radio]+label {
	display: inline-block;
	margin-right: 2px;
	padding: 38px;
	font-size: 20px;
	color: white;
	cursor: pointer;
	background-color: #676767;
	border: 1px solid black;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

input[type=radio]:checked+label {
	background-color: #b3cfff;
	border: 1px solid blue;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

input[type=radio]+label:hover {
	background: grey;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.pressAndHold {
	margin-top: 190px;
	margin-left: 50px;
}

.sendYes {
	border: 1px solid green;
	padding: 20px;
	display: inline-block;
	margin-right: 5px;
	background-color: green;
	text-decoration: none;
	color: white;
}

.sendNo {
	border: 1px solid red;
	padding: 20px;
	display: inline-block;
	text-decoration: none;
	color: white;
	background-color: red;
}